
<form class="w-100" style="max-width: 650px;">

	<!-- example 1 -->
	<div class="mb-5">

		<h4 class="mb-4">Cantidad de Productos a Ingresar</h4>

		<input type="text" class="none d-none" id="IdProduct" />
		<div class="row mb-3">
			<div class="col-md-2 d-flex align-items-center">
				<p class="mb-0 p-0">Cantidad</p>
			</div>
			<div class="col-md-10">
				<div data-mdb-input-init class="form-outline">
					<input type="number" id="typeQuantity" class="form-control" placeholder="Quantity" />
					<label class="form-label d-lg-none none" for="typeQuantity" ></label>
				</div>
			</div>
		</div>

		<button type="button" class="btn btn-primary">Actualizar Cantidad</button>

	</div>
	<!-- example 1 -->
</form>

