<form>
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-md-6">
            <p class="mb-0">ProdName</p>
            <!-- Material input -->
            <div class="input-group mb-3">
                <input type="email" class="form-control" id="inputProdName placeholder="Email" />
            </div>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-6">
            <p class="mb-0">Stock</p>
            <!-- Material input -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="inputStock" placeholder="Stock" />
            </div>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-md-12">
            <p class="mb-0">Descripcion</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="inputDescripcion" placeholder="Descripcion" />
            </div>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-md-6">
            <p class="mb-0">IdProdCategory</p>
            <!-- Material input -->
            <div class="input-group mb-4">
                <input type="text" class="form-control" id="inpuIdProdCategory" placeholder="IdProdCategory" />
            </div>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-6">
            <p class="mb-0">Activo</p>
            <!-- Material input -->
            <div class="input-group mb-4">
                <input type="text" class="form-control" id="inputActivo" placeholder="Activo" />
            </div>
        </div>
        <!-- Grid column -->
    </div>

    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-md-6">
            <p class="mb-0">UnitPrice</p>
            <!-- Material input -->
            <div class="input-group mb-4">
                <input type="text" class="form-control" id="inputUnitPrice" placeholder="UnitPrice" />
            </div>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-6">
            <p class="mb-0">StartDate</p>
            <!-- Material input -->
            <div class="input-group mb-4">
                <input type="text" class="form-control" id="inputStartDate" placeholder="11206-1117" />
            </div>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <div class="d-flex justify-content-center">
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-md">Registrar Nuevo Producto</button>
    </div>
</form>
<br />
<br />
<br />